@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

:root {
    /*Colors Primary*/
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /*Colors Neutral*/
    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --rayish-blue: hsl(220, 14%, 75%);
    --white: hsl(0, 0%, 100%);
    --black: hwb(0 0% 100% / .75);
    /*with 75% opacity for lightbox background*/

    /*Design Widths*/
    --mobile: 375px;
    --desktop: 1440px;
    --taplet: 768px;
    --pc: 1024px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    /*font-optical-sizing: none;*/
    font-size: 16px;
    font-weight: 400;
}

.app-container {
    width: var(--mobile);
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--white);

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: var(--white);
    position: relative;
    height: 4rem;
}

.bars-icon {
    margin-right: .75rem;
}

.logo {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

.group-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.icon-cart:hover {
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
}

.avatar:hover {
    outline: 2px solid var(--orange);
    cursor: pointer;
}

.cart-container {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    background-color: var(--orange);
    color: var(--white);
    font-size: .75rem;
    font-weight: 700;
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: none;
}


.menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: var(--white);
    padding: 1rem;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.active {
    display: block;
    z-index: 55;
}

.menu .close-icon {
    margin-inline-start: 1rem;
    margin-block-end: 2rem;
}

.menu li {
    list-style: none;
    margin-inline-start: 1rem;
    margin-block-end: 1rem;

}

.menu a {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 700;
}

.menu a:hover {
    color: var(--orange);
    cursor: pointer;
}

.gallery-img-hero {
    margin-block-end: 1.5rem;
}

.gallery-img-hero .img-hero {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;

}

.gallery {
    display: none;
}

.prev-btn {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border: none;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.next-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border: none;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.image-container {
    position: relative;
}

.image-container .basket-container {
    position: absolute;
    inset: 8px 8px 3rem 8px;
    width: 95%;
    height: 85%;
    background-color: var(--white);
    padding-inline: 2rem;
    padding-block-start: 2rem;
    border-radius: 10px;
    z-index: 10;
}

.basket-container {
    display: none;
}

.basket-container .heading-cart {
    color: var(--dark-blue);
    font-size: 1.25rem;
    font-weight: 700;
    padding-block-end: 1rem;
    border-block-end: 1px solid var(--rayish-blue);
}

.basket-container .empty-cart {
    width: 100%;
    padding-block: 3rem;
    text-align: center;
    display: none;
}

.basket-container .empty-cart p {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    font-weight: 700;
}

.basket-filled {
    display: none;
}

.basket-filled .product-info-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    padding-block: 1rem;
}

.basket-filled .product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 1rem;
}


.basket-filled .img-cart {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
}

.basket-filled .product-info .product-name {
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 700;
}

.product-name p:first-child {
    font-size: .9rem;
    color: var(--dark-grayish-blue);
    margin-block-end: .5rem;
}

.basket-filled .product-info .product-price {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    font-weight: 700;
}

.basket-filled .delete-btn {
    background-color: transparent;
    border: none;
    color: var(--dark-grayish-blue);
}

.basket-filled .delete-btn:hover {
    color: var(--orange);
    cursor: pointer;
}

.basket-filled .delete-btn:active {
    color: var(--dark-grayish-blue);
}

.basket-filled .delete-btn:focus {
    outline: 2px solid var(--orange);
}

.basket-filled .total-price {
    color: var(--dark-blue);
    font-weight: 700;
}

.basket-filled .p-price-cart {
    color: var(--dark-grayish-blue);
    font-weight: 700;
}

.basket-filled .checkout-btn {
    width: 100%;
    padding: 1.2rem 1.5rem;
    background-color: var(--orange);
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    margin-block-start: 1rem;
}

.basket-filled .checkout-btn:hover {
    background-color: var(--pale-orange);
    cursor: pointer;
}

.basket-filled .checkout-btn:active {
    background-color: var(--orange);
}

.basket-filled .checkout-btn:focus {
    outline: 2px solid var(--orange);
}

.product-details h1 {
    color: var(--dark-grayish-blue);
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
}

.product-details h2 {
    color: var(--dark-blue);
    font-size: 1.75rem;
    font-weight: 700;
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
}

.product-description {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    line-height: 1.5;
    margin-block-end: 1.5rem;
    margin-inline-start: 1rem;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    padding-inline-end: 1rem;
    margin-block-end: 1.5rem;
    margin-inline-start: 1rem;
}

.current-price-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.product-price .current-price {
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: 700;
}

.product-price .discount {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--dark-blue);
    padding: .25rem .5rem;
    border-radius: 8px;
}

.product-price .original-price {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: line-through;
}

.add-to-cart-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 1.2rem;
    margin-inline: 1rem;
}

.count-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem 1.5rem;
    background-color: var(--light-grayish-blue);
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}

.count-product button {
    background-color: transparent;
    border: none;
    color: var(--orange);
}

.count-product button:hover {
    cursor: pointer;
}

.add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    background-color: var(--orange);
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    margin-block-end: 5rem;
}

.add-to-cart-btn img {
    filter: brightness(0%);
}

.add-to-cart-btn:hover {
    background-color: var(--pale-orange);
    cursor: pointer;
}


@media (min-width: 768px) {
    .app-container {
        width: var(--taplet);
    }

}

@media (min-width: 1440px) {


    .header {
        height: 5rem;
        margin: 1rem 5rem;
        border-bottom: 1px solid var(--rayish-blue);
    }

    .icon-cart {
        width: 24px;
        height: 24px;
    }

    .avatar {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }

    .bars-icon {
        display: none;
    }

    .close-icon {
        display: none;
    }

    .menu {
        flex: 1;
        display: block;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        margin-inline-start: 1rem;
    }

    .menu li {
        display: inline-block;
        margin-inline: 1rem;
        margin-block: 0;
    }

    .menu a {
        text-decoration: none;
        color: var(--dark-blue);
        font-weight: 400;
        padding-block-end: 1.08rem;
    }

    .menu a:hover {
        border-bottom: 4px solid var(--orange);
    }

    .app-container {
        width: var(--desktop);
        display: flex;
        justify-content: space-between;
        gap: 7rem;
        padding: 7rem;
    }

    .gallery-img-hero {
        height: 450px;
    }

    .gallery-img-hero .img-hero {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .gallery {
        display: flex;
        justify-content: space-between;
        margin-block-start: 1rem;
        width: 100%;
    }

    .gallery img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }

    .gallery .gallery-img:hover {
        outline: 1px solid var(--orange);
        outline-offset: 2px;
        cursor: pointer;
    }

    .gallery .gallery-img:active {
        outline: 1px solid var(--orange);
        outline-offset: 2px;
    }

    .gallery .gallery-img:focus {
        outline: 1px solid var(--orange);
        outline-offset: 2px;
    }

    .prev-btn,
    .next-btn {
        display: none;
    }

    .image-container {
        width: 100%;
        max-width: 500px;
        position: static;

    }

    .product-container {
        width: 100%;
        margin-block-start: 3rem;
        justify-content: flex-start;
    }

    .product-details h1 {
        font-size: 1rem;
    }

    .product-details .h2-product {
        font-size: 2.8rem;
        margin-block-end: 2rem;
    }

    .product-description {
        font-size: 1rem;
        max-width: 70%;
    }

    .product-price .current-price {
        font-size: 1.6rem;
        letter-spacing: 1px;
    }

    .product-price .discount {
        font-size: 1rem;
    }

    .add-to-cart-container {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        margin-block-start: 1rem;
        margin-inline-end: 1rem;
        width: 75%;
    }

    .count-product {
        width: 70%;
    }

    .count-product img {
        width: 20px;
    }

    #add-to-cart-btn,
    .add-to-cart-container #count {
        font-size: 1.3rem;
    }

    .product-price {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }

    .original-price {
        margin-block-end: 1rem;
    }

    /*styles for cart*/

    .app-container {
        position: relative;
    }

    .basket-container {
        position: absolute;
        inset: 0 4rem auto auto !important;
        width: 475px !important;
        height: 375px !important;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 10px;
        z-index: 10;
    }

    .product-info-cart {
        column-gap: 1.5rem;
        margin-block-start: 2rem;
    }

    .heading-cart {
        font-size: 1.7rem !important;
    }

    .empty-cart p {
        font-size: 1.5rem !important;
    }

    .product-name p:first-child {
        font-size: 1.4rem;
    }

    .checkout-btn {
        font-size: 1.3rem !important;
        margin-block-start: 2rem !important;
    }
}

/*Global styles for gallery section*/

.gallery-section {
    position: fixed;
    inset: 5% 10%;
    max-width: var(--pc);
    padding: 2rem;
    display: none;
    place-items: center;
    z-index: 900;

}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background: var(--white);
    border: 2px solid var(--orange);
    border-radius: 50%;
    cursor: pointer;
}

.prev-button {
    position: absolute;
    top: 50%;
    left: 4PX;
    padding: 1rem;
    transform: translate(-50%);
    background: var(--white);
    border: 2px solid var(--orange);
    cursor: pointer;
}

.next-button {
    position: absolute;
    top: 50%;
    right: -3rem;
    padding: 1rem;
    transform: translate(-50%);
    background: var(--white);
    border: 2px solid var(--orange);
    cursor: pointer;
}

.gallery-image-hero .image-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.gallery-filled {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1rem;
    width: 100%;
}

.gallery-filled img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-filled .gallery-img-filled:hover {
    outline: 1px solid var(--orange);
    outline-offset: 2px;
    cursor: pointer;
}

.gallery-filled .gallery-img-filled:active {
    outline: 1px solid var(--orange);
    outline-offset: 2px;
}

.gallery-filled .gallery-img-filled:focus {
    outline: 1px solid var(--orange);
    outline-offset: 2px;
}